@{
    ViewData["Title"] = "Privacy Policy";
    Context.Session.SetString("privacyString", "Hej, netko je bio na stranici za Privacy!");
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
